.container {
    display: grid;
    grid-template-columns: repeat(20, 100px); 
    grid-auto-rows: 100px;
    gap: 5px;
    width: fit-content; 
    margin: 0 auto; 
}

.cell {
    box-sizing: border-box;
    border: 1px solid #000; 
    background-color: aliceblue;
}

.green {
    background-color: green;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: yellow;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#stepButton {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 25px; 
    font-size: 18px;
    padding: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}

body {
    background-color: rgb(215, 218, 221);
}
.path {
    border: 5px solid green;
    box-sizing: border-box;
}
